# Regression Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I {**HARMONY, MNCUBE**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [1]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import calendar
# Libraries for data preparation and model building
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler as SS
from sklearn.preprocessing import MinMaxScaler

import matplotlib.pyplot as plt

# Setting global constants to ensure notebook results are reproducible
#PARAMETER_CONSTANT = ###

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section you are required to load the data from the `df_train` file into a DataFrame. |

---

In [2]:
df = pd.read_csv('df_train.csv') # load the data
df.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

In [3]:
# Print column names and data types
for column_name, data_type in df.dtypes.items():
    print(f"{column_name} ->: {data_type}")

Unnamed: 0 ->: int64
time ->: object
Madrid_wind_speed ->: float64
Valencia_wind_deg ->: object
Bilbao_rain_1h ->: float64
Valencia_wind_speed ->: float64
Seville_humidity ->: float64
Madrid_humidity ->: float64
Bilbao_clouds_all ->: float64
Bilbao_wind_speed ->: float64
Seville_clouds_all ->: float64
Bilbao_wind_deg ->: float64
Barcelona_wind_speed ->: float64
Barcelona_wind_deg ->: float64
Madrid_clouds_all ->: float64
Seville_wind_speed ->: float64
Barcelona_rain_1h ->: float64
Seville_pressure ->: object
Seville_rain_1h ->: float64
Bilbao_snow_3h ->: float64
Barcelona_pressure ->: float64
Seville_rain_3h ->: float64
Madrid_rain_1h ->: float64
Barcelona_rain_3h ->: float64
Valencia_snow_3h ->: float64
Madrid_weather_id ->: float64
Barcelona_weather_id ->: float64
Bilbao_pressure ->: float64
Seville_weather_id ->: float64
Valencia_pressure ->: float64
Seville_temp_max ->: float64
Madrid_pressure ->: float64
Valencia_temp_max ->: float64
Valencia_temp ->: float64
Bilbao_weather_id ->: float64
Seville_temp ->: float64
Valencia_humidity ->: float64
Valencia_temp_min ->: float64
Barcelona_temp_max ->: float64
Madrid_temp_max ->: float64
Barcelona_temp ->: float64
Bilbao_temp_min ->: float64
Bilbao_temp ->: float64
Barcelona_temp_min ->: float64
Bilbao_temp_max ->: float64
Seville_temp_min ->: float64
Madrid_temp ->: float64
Madrid_temp_min ->: float64
load_shortfall_3h ->: float64

In [ ]:
def calculate_variance(df):
    variances = df.var()
    return variances

In [ ]:
# Call the function with your DataFrame
column_variances = calculate_variance(df['load_shortfall_3h'])
# Print the variances
print(column_variances)

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

In [ ]:
# look at data statistics

In [ ]:
# plot relevant feature interactions

# Group the data by date and calculate the mean of the target variable (load_shortfall_3h)
grouped_data = df.groupby('Month')['load_shortfall_3h'].mean()

# Convert month names to month numbers for sorting
month_order = [calendar.month_name[i] for i in range(1, 13)]

# Sort the grouped data by month order
grouped_data = grouped_data.reindex(month_order)

# Plot the line graph
plt.plot(grouped_data.index, grouped_data.values)
plt.xlabel('Month')
plt.ylabel('Load Shortfall (Energy)')
plt.title('Load Shortfall over Time')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Group the data by date and calculate the mean of the target variable (load_shortfall_3h)
grouped_data = df.groupby('Season')['Valencia_pressure'].mean()

# Increase the figure size
plt.figure(figsize=(10, 6))

# Convert month names to month numbers for sorting
month_order = [calendar.month_name[i] for i in range(1, 13)]

# Sort the grouped data by month order
grouped_data = grouped_data.reindex(month_order)

# Create a line plot for Valencia_pressure to see if it follows a linear pattenr of any sort
plt.plot(grouped_data.index, grouped_data.values)
plt.xlabel('Season')
plt.xticks(rotation=45)
plt.ylabel('Valencia Pressure')
plt.title('Valencia Pressure Per Season')
plt.show()

In [ ]:
# Create a box plot of the DataFrame
plt.figure(figsize=(12, 6))  # Set the figure size
df.boxplot()  # Create the box plot
plt.xticks(rotation=45)  # Rotate x-axis labels for better visibility
plt.title('Spread of Data - Box Plot')  # Set the title of the plot
plt.xlabel('Columns')  # Set the x-axis label
plt.ylabel('Values')  # Set the y-axis label
plt.show()  # Display the plot

In [ ]:
# evaluate correlation

In [ ]:
# have a look at feature distributions

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [ ]:
# remove missing values/ features
def check_null_values(df):
    """Returns a summary of null values in each column of a pandas DataFrame"""
    
    null_counts = df.isnull().sum()
    null_percentage = round(null_counts / len(df) * 100, 2)
    
    null_summary = pd.concat([null_counts, null_percentage], axis=1)
    null_summary.columns = ['# of Null Values', '% of Null Values']
    null_summary.sort_values(by='# of Null Values', ascending=False, inplace=True)
    return null_summary

In [ ]:
#Drop the Unnamed: 0 column using the .drop() method
df.drop("Unnamed: 0", axis=1, inplace=True)

In [ ]:
# Convert the time column to a datetime data type using pd.to_datetime() for time-based analysis.
df['time'] = pd.to_datetime(df['time'])

In [ ]:
# check any rows with missing values
nulls = check_null_values(df)

In [ ]:
nulls

In [6]:
# create new features
# Convert the date column to a pandas datetime object

# Convert the "date" column to datetime type if it's not already
df['time'] = pd.to_datetime(df['time'])

#Separate the date from time str
df['date'] = df['time'].dt.date
# Extract the hour from the date column and create a new column called hour
df['time'] = df['time'].dt.time


# Select only the float columns in the DataFrame
float_columns = df.select_dtypes(include=['float']).columns

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Apply Min-Max scaling to the float columns
df[float_columns] = scaler.fit_transform(df[float_columns])
# Print the updated DataFrame

# Extract the month from the "date" column and create a new column "Month"
df['Month'] = df['date'].dt.month

# Define a dictionary to map month numbers to month names
month_names = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}

# Map the month numbers to month names
df['Month'] = df['Month'].map(month_names)

# Define a dictionary to map months to seasons
seasons = {
    'January': 'Winter',
    'February': 'Winter',
    'March': 'Spring',
    'April': 'Spring',
    'May': 'Spring',
    'June': 'Summer',
    'July': 'Summer',
    'August': 'Summer',
    'September': 'Fall',
    'October': 'Fall',
    'November': 'Fall',
    'December': 'Winter'
}

# Map the months to seasons
df['Season'] = df['Month'].map(seasons)

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
# Extract the numeric part from the "Valencia_wind_deg" column
df['Valencia_wind_deg'] = df['Valencia_wind_deg'].apply(lambda x: int(x.split('_')[1]))

# Fill missing values with the mean
mean_pressure = df['Valencia_pressure'].mean()
df['Valencia_pressure'] = df['Valencia_pressure'].fillna(mean_pressure)

**Z-Score Normalization**
Z-score normalization (also known as standardization) transforms the features to have zero mean and unit variance. You can use the StandardScaler class from scikit-learn for this normalization.

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [ ]:
# split data
# Split the data into training and test sets
X = grouped_data[['demand', 'supply']]
y = grouped_data['shortfall']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
# create targets and features dataset

In [ ]:
# create one or more ML models
# Train a Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
# evaluate one or more ML models
# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the performance of the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('R-squared:', r2)

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [ ]:
# Compare model performance

In [ ]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [ ]:
# discuss chosen methods logic